body.change-password 
{
    background: url("/eXoSkin/skin/images/themes/default/platform/portlets/extensions/login_texture.jpg") repeat;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.change-password .bg-light 
{
  background: #ffffff;
  border-radius: 80px 80px 80px 80px;
  box-shadow: 0 0 550px #ffffff;
  left: 50%;
  margin: -100px;
  position: fixed;
  top: 50%;
  width: 200px;
  height: 200px;
}

.ui-change-password 
{
  color: #333333;
  display: block;
  font-size: 12px;
  left: 50%;
  margin: -180px -195px 0;
  position: fixed;
  top: 50%;
  width: 392px;
}

.change-password-container 
{
  border-radius: 8px;
  background: #ffffff url("/eXoSkin/skin/images/themes/default/platform/portlets/extensions/loginBG.png") no-repeat bottom;
  padding: 0 40px;
}

.change-password-header 
{
  background: url("/eXoSkin/skin/images/themes/default/platform/portlets/extensions/LoginHeader.png") repeat-x scroll 0 0 transparent;
  border: 1px solid #555555;
  border-radius: 0 0 4px 4px;
  margin-top: -8px;
  padding: 8px 12px;
  position: absolute;
  width: 286px;
  box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, 0.43);
}

.change-password-icon
{
  background: url("/eXoSkin/skin/images/themes/default/platform/portlets/extensions/UserLoginIcon.png") no-repeat scroll 0 0 transparent;
  color: #999999;
  font-size: 20px;
  font-weight: 500;
  line-height: 41px;
  padding-left: 52px;
  width: 236px;
}

.ui-change-password  .introBox:after {
  border-bottom: 8px solid #2a323e;
  border-right: 7px solid transparent;
  right: -8px;
}
.ui-change-password .introBox:before {
  border-bottom: 8px solid #2a323e;
  border-left: 7px solid transparent;
  left: -8px;
}

.ui-change-password .intro-box:before, .ui-change-password .intro-box:after 
{
  border-top: medium none;
  content: "";
  display: inline-block;
  height: 0;
  position: absolute;
  top: -1px;
  vertical-align: top;
  width: 0;
}

.change-password-content
{
    padding-top: 45px;
}
.change-password-content #newPassword, .change-password-content #reNewPassword {
  margin-top: 15px;
  background: url("/eXoSkin/skin/images/themes/default/platform/portlets/extensions/password.png") no-repeat left top;
}

.change-password-content input 
{
  width: 260px;
  height: 36px;
  border: solid 1px #cccccc;
  background: #ffffff;
  margin: 0 0 14px;
  color: #333333;
  -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.075) inset;
  -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.075) inset;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-left: 50px;
  font-size: 18px;
  outline: none;
}
.change-password-content input::-webkit-input-placeholder {
  color: #999999;
}
.change-password-content input:-moz-placeholder {
  color: #999999;
}
.change-password-content input::-moz-placeholder {
  color: #999999;
}
.change-password-content input:-ms-input-placeholder {
  color: #999999;
}
.change-password-content input:focus {
  color: #333333;
  border-color: #84abe8;
  -webkit-box-shadow: 0px 0px 5px rgba(19, 75, 159, 0.45);
  -moz-box-shadow: 0px 0px 5px rgba(19, 75, 159, 0.45);
  box-shadow: 0px 0px 5px rgba(19, 75, 159, 0.45);
  background-position: 0 -41px;
}
.change-password-content .change-password-button {
  padding: 44px 0 30px;
}
.change-password-content .change-password-button .button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  width: 313px;
  height: 43px;
  cursor: pointer;
  font-family: "Helvetica Neue Bold", Helvetica, Lucida, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  padding: 0;
  color: #ffffff;
  text-shadow: none;
  background-color: #477ab3;
  background-image: -moz-linear-gradient(top, #578dc9, #2f5e92);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#578dc9), to(#2f5e92));
  background-image: -webkit-linear-gradient(top, #578dc9, #2f5e92);
  background-image: -o-linear-gradient(top, #578dc9, #2f5e92);
  background-image: linear-gradient(to bottom, #578dc9, #2f5e92);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff578dc9', endColorstr='#ff2f5e92', GradientType=0);
  border: 1px solid #224469;
  *background-color: #2f5e92;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.change-password-content .change-password-button .button:hover,
.change-password-content .change-password-button.button:focus,
.change-password-content .change-password-button .button:active,
.change-password-content .change-password-button .button.active,
.change-password-content .change-password-button .button.disabled,
.change-password-content .change-password-button .button[disabled] {
  color: #ffffff;
  background-color: #2f5e92;
  *background-color: #29527f;
}
.change-password-content .change-password-button .button.disabled,
.change-password-content .change-password-button .button[disabled] {
  color: #999999;
}
.change-password-content .change-password-button .button:hover {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.new-password-error
{
  font-size: 13px;
  line-height: 18px;
  margin: 12px 0 0 1px;
  font-weight: bold;
  width: 310px;
}

.change-password-icon-error
{
  background: url("/eXoSkin/skin/images/themes/default/Icons/uiIconsColor.png") no-repeat left top;
  padding-left: 20px;
}

.change-password-title 
{
  line-height: 12px;
  padding: 6px 3px 0 0;
  min-height: 31px;
  font-size: 11px;
}

#changePasswordForm
{
    margin: 0px;
}